.second_header1
{
    margin-top: 2rem;
}
.second_header1 b{
   font-family:verdana;
   font-size: small;
}
.second_header2 select{
    float:bottom;
    width:15%;
    position:absolute;
}
.second_header2 h3{
    margin-left: 43%;
    color:rgb(27,59,73);
}
.second_header2 b{
    font-family:verdana;
    font-size: small;
    position:absolute;
    top:9rem;
    margin-left: 78%;
    color:rgb(27,59,73);
}
.second_header2 input{
    font-family:verdana;
    font-size: small;
    position:absolute;
    top:11rem;
    margin-left: 78%;
}
.second_header2 button{
    position:absolute;
    top:11rem;
    margin-left: 92%;
    background-color: black;
    color: white;
}
.empty{
    border:2px solid white; 
    background-color: lightgrey;
    width:1rem;
    padding:5rem;
    margin-bottom: 2%;
}
.title h2{
    margin-left: 15%;
    position:absolute;
    top:13rem;
    color:black;
}
.title sub{
    margin-left: 15%;
    position:absolute;
    top:16rem;
}
.title pre{
    margin-left: 15%;
    position:absolute;
    top:17rem;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 85%;
}
.title button{
    margin-left: 15%;
    position:absolute;
    top:59%;
    background-color: orange;
    color:white;
}
.title2 h2{
    margin-left: 15%;
    position:absolute;
    top:25rem;
    color:black;
}
.title2 sub{
    margin-left: 15%;
    position:absolute;
    top:28rem;
}
.title2 pre{
    font-family: Tahoma, Verdana, sans-serif;
    margin-left: 15%;
    position:absolute;
    top:28.5rem;
    font-size: 85%;

}
.title2 button{
    margin-left: 15%;
    position:absolute;
    top:89.5%;
    background-color: orange;
    color:white;
}
.title3 h2{
    margin-left: 15%;
    position:absolute;
    top:36.5rem;
    color:black;
}
.title3 sub{
    margin-left: 15%;
    position:absolute;
    top:39.5rem;
}
.title3 pre{
    font-family: Tahoma, Verdana, sans-serif;
    margin-left: 15%;
    position:absolute;
    top:40.5rem;
    font-size: 85%;

}
.title3 button{
    margin-left: 15%;
    position:absolute;
    top:121%;
    background-color: orange;
    color:white;
}

.line1{
    height:2px;
    background:lightgray;
    width:61%;
    position: absolute;
    top:65%;
}
.line2{
    height:2px;
    background:lightgray;
    width:61%;
    position: absolute;
    top:96%; 
}