.header{
    background-color:rgb(27,59,73);
    border:10px;
    padding:10px;
    
}
.main_heading{
    width:10%;
     background-color:whitesmoke;
    border:2px solid orange;
    padding:1%;
    float:center;
    margin-left:43%;  
}
.main_heading b{
    font-size: medium;
}
.heading{
color:rgb(27,59,73);
font-family:verdana;
}